mixin b-iconButton(className)
  a(href='#' class=className).b-iconButton
    block

mixin b-button(className, link='#')
  a(href=link)
    button.b-button(class=className)
      block

mixin b-toggle
  label.b-toggle.--toggle
    input.b-toggle__input(type="checkbox")
    span.b-toggle__slider.--round
      span.b-toggle__container
        span.b-toggle__container-x1 6 months 
        span.b-toggle__container-x2 12 months 

mixin b-toTop
  button.b-toTop(data-scroll-top)
    include ../../assets/images/arrow-downsvg.svg

mixin b-input(label='', className, placeholder='',type=text)
  .b-input(class=className)
    label=label
      input(type=type,placeholder=placeholder)
      span

mixin b-login-with
  .b-login-with
    block

mixin layout 
  .layout